@import 'components/buttons.utils';
@import 'utils/rem';

a {
  @extend %button-reset;
  @apply
  transition-all
  not-italic
  text-t-0
  no-underline
  visited:text-t-0
  hover:text-t-3
  active:text-t-1
  active:no-underline
  focus-visible:text-t-2
  focus-visible:outline-2
  focus-visible:no-underline
  focus-visible:outline-dotted
  focus-visible:outline-t-0;
}

a::before {
  content: "[";
}

a::after {
  content: "]";
}
