<div class="noise"></div>
<div class="overlay"></div>
<div class="terminal">
  <unr-header></unr-header>

  <div class="p-5xl">
    <h1>Error <span class="errorcode">404</span></h1>
    <p class="output">The page you are looking for might have been removed, had its name changed or is temporarily unavailable.</p>
    <p class="output">Please try to <a href="#1">go back</a> or <a href="#2">return to the homepage</a>.</p>
    <p class="output">Good luck.</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultrices feugiat orci, finibus porttitor ipsum cursus sit amet. Nulla imperdiet, arcu quis venenatis molestie, arcu elit dapibus tortor, vitae viverra nisl ex at est. Morbi convallis tellus sed dui sollicitudin, eu euismod sem pulvinar. Morbi pellentesque elementum dui, condimentum luctus neque maximus nec. Duis non sem non metus cursus tristique. Maecenas eget sodales purus, sit amet dapibus massa. Morbi fringilla, ex a faucibus cursus, felis ante condimentum tellus, tempor lacinia lacus neque id ligula. Nullam sit amet lectus ex. Curabitur sed ex neque. Suspendisse fringilla ac enim non lobortis.</p>
  </div>

  <router-outlet></router-outlet>

  <unr-footer class="block mt-auto"></unr-footer>
</div>
