@import 'tailwindcss/base.css';
@import 'tailwindcss/components.css';
@import 'tailwindcss/utilities.css';

@import 'components/links';

html, body {
  @apply h-full;
}

html {
  @apply p-xs;
}

body {
  @apply m-0 text-t-1 bg-bg-1 p-3xs;

  font-family: "Droid Sans Mono", Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 100%;
  text-shadow:
    0 0 1ex var(--c-t-1-b),
    0 0 2px rgba(255, 255, 255, 0.9);

  scroll-behavior: smooth;
  scrollbar-color: var(--c-scroll-thumb) var(--c-scroll-bg);
}

*,
*::before,
*::after {
  @apply box-border;
}

::-webkit-scrollbar {
  @apply bg-scroll-bg w-sm;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 0;
  @apply bg-scroll-thumb;
}

::-webkit-scrollbar-corner {
  @apply bg-scroll-bg;
}
