@import 'utils/responsive';

.link {
  @apply
  flex
  items-center
  h-full
  px-xs
  mr-2xs
  rounded-xl
  transition-all
  last:mr-0
  hover:bg-bg-2
  focus:bg-bg-2;

  &:hover {
    box-shadow: 0 0 .2rem .1rem rgba(0, 0, 0, .75) inset;
  }
}

.burger {
  @apply
    absolute
    cursor-pointer
    right-md
    top-md
    h-[1.25rem]
    w-md;

  z-index: 5;

  span {
    @apply
      absolute
      block
      bg-interactive
      w-full
      h-[0.125rem]
      top-1/2
      -mt-[0.1rem]
      left-0
      transition-all
      first:top-[0.3rem]
      last:top-[1rem];
  }
}

input:checked + button.burger {
  span {
    opacity: 0;
    top: 50%;
  }
  span:first-child {
    opacity: 1;
    transform: rotate(405deg);
  }
  span:last-child {
    opacity: 1;
    transform: rotate(-405deg);
  }
}

header:has(input:checked) {
  @apply
    absolute
    top-0
    left-0
    flex-col
    h-full
    w-full
    p-sm
    bg-bg-2
    transition-all;

  z-index: 1;

  nav {
    @apply flex;
  }

  .logo {
    height: initial;
  }
}
